---
---

@import "{{ site.theme }}";


.page-header {
  color: #03ffdc;
  text-shadow: 0 1px 0 rgba(19, 16, 16, 0.75);
  text-align: center;
  background-color: #03ffdc;
  background-image: linear-gradient(120deg, #325bec, #03ffdc);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #03ffdc;
  text-shadow: 0 1px 0 rgba(19, 16, 16, 0.75);
}