---
---

@import "{{ site.theme }}";


.page-header {
  color: #fff;
  text-align: center;
  background-color: #03ffdc;
  background-image: linear-gradient(120deg, #325bec, #03ffdc);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #325bec;
}